@model Actividad1.Models.Pokemon

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.altura)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
