@model Ejercicio1.Models.Producto

@{
    ViewData["Title"] = "Ver producto";
}

<h1>Ver producto</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.codigo)
            </td>
            <td>
                @Html.DisplayFor(model => model.nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.precio)
            </td>
            <td>
                @Html.ActionLink("Actualizar valores",
                    "Update",
                    "Producto",
                    new { codigo = Model.codigo },
                    null
                )
            </td>
        </tr>
    </tbody>
</table>
