@model IEnumerable<Actividad6.Models.Producto>

@{
    ViewData["Title"] = "MostrarProductosSesion";
}

<h1>MostrarProductosSesion</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_fabricante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_fabricante)
            </td>
            <td>
                    @Html.ActionLink("Delete", "DeleteProductoSesion", new { id = item.Codigo })
            </td>
        </tr>
}
    </tbody>
</table>
