
@model ProyectoPokemon.Models.Pokemon

@{
    ViewData["Title"] = "Detalles de Pokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<ul>
        <li>
            <h3>Numero pokedex: @Model.PokemonId</h3>
            <div>
            Nombre: @Model.nombre Peso: @Model.peso Altura: @Model.altura
            </div>
        </li>
</ul>

